@page "/jstodotnet"
@using JavaScriptDemo.Services

<button @onclick="ListenToShortcuts">Start listening to shortcuts</button>

@code{
    void ListenToShortcuts()
    {
        InteropService.SetupShortcuts();
    }
   
}